.container {
  max-width: 50rem;
}

.carousel-caption {
  background-color: white;
  color: black;
}

.w-100 {
  max-height: 65rem;
  font-weight: bold;
  padding-top: 2%;
  padding-right: 5%;
  padding-left: 5%;
}
