.header {
  background: $strong-orange;
  color: white;
  height: 100rem;
  padding: $m-size 0;
}

.header__title {
  font-size: $m-size;
  margin: 0;
}

.header__subtitle {
  color: #a5afd7;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}
