@import "./base/settings";
@import "./base/base";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./components/header";
@import "./components/main";
@import "./components/navbar";
@import "./components/container";
@import "./components/footer";
@import "./components/Carousel";
@import "./components/categories";
