html {
  font-size: 62.5%;
}

body {
  font-family: $regular-font, Arial, sans-serif;
  font-size: $m-size;
  //display: grid;
  grid-template-rows: 1fr 1fr 3fr 1fr;
}
header {
  grid-area: head;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  align-self: end;
}
