// colors
$strong-orange: #dc5c05;
$normal-yellow: yellow;
$mint-green: #6ec5b8;
$normal-orange: #ff9000;
$normal-grey: #978b7d;

// Font size
$xxs-size: 2rem;
$xs-size: 2.5rem;
$s-size: 3rem;
$m-size: 4.6rem;
$l-size: 5.2rem;
$xl-size: 6.8rem;

//Fonts
$regular-font: Helvetica;
$secondary-font: Arial;
$fallback-font: sans-serif;
